.Content {
    grid-area: ma;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgb(121, 121, 121);
  }

.Avatar img{
    border-radius: 50%;
    width: 200px;
    margin: 20px;
    border: 2px solid black;
  }
  
.Headsite img {
    width: 90vw;
    height: 20vh;
  }

.item {
  margin: 20px;
}

