

.item a:hover {
  color:rgb(0, 0, 0);
}

.item a:active {
  color: rgb(207, 207, 207);
}


.item {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  margin: 10px;
  border: 6px double rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(180, 180, 180);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}


