


.item h2 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* position: relative;
    bottom: -100px;
    left: 350px; */
}

h2 img {
    width: 60px;
    height: 60px;
    border: 4px double red;
  }
