.bodyOfNewsLine {
    background-color: rgb(227, 227, 227);
}


.Buttons a :hover {
    color: black;
}

.Buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(227, 227, 227);
    border-radius: 40px 40px 0px 0px;
}