.app-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-areas: 
  'he he'
  'na ma';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 5fr 8fr;
  gap: 15px;
  width: 1000px;
}





